argparse==1.1
astropy==6.0.0
beautifulsoup4==4.12.2
dask==2024.1.0
indexed_bzip2==1.5.0
ipython==8.12.3
matplotlib==3.8.2
numexpr==2.8.8
numpy==1.22.3
pandarallel==1.6.5
pandas==2.0.3
python_version==3.10
requests==2.25.1
scipy==1.11.4
tqdm==4.66.1
urllib3==1.26.13
version-information==1.0.4
Watermark==2.4.3
